html, body
{
  font-family: serif;
  margin: 0;
  overflow: hidden;
  touch-action: manipulation;
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
}

#wrapper, #game {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
 
  justify-content: center;
  align-items: center;
}

.disable-dbl-tap-zoom {
  touch-action: manipulation;
}

a, button, .myelements
{
  -ms-touch-action: manipulation;	
  touch-action: manipulation;		
}